html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.intro{
	text-align: justify;
	vertical-align: top;
	width: 70%;
	font-size: 150%;
	margin: 0 auto;
	padding: .5em 1em;
}
a:link {
	text-decoration: none;
	color: #0645AD;
}
.otherprojects {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;
	overflow: hidden;
}
.footer {
	clear: both;
	text-align: center;
	vertical-align: bottom;
	width: 70%;
	margin: 10px auto;
	border-top: .5px solid #aaa;
	overflow: hidden;
	text-decoration: none;
}
li {
	display: inline-block;
	padding: 0;
	margin: 0 10px;
}